{% extends "layout.html" %}
{% block title %}Continuous{% endblock %}

{% block head %}
{{ super() }}
<style>

</style>
{% endblock %}


{% block content %}

<h1>Continuous</h1>

<a href="{{ url_for('normal_distribution') }}">
		Normal Distribution
</a>
<a href="{{ url_for('exponential_distribution') }}">
		Exponential Distribution
</a>
<a href="{{ url_for('gamma_distribution') }}">
		Gamma Distribution
</a>
<a href="{{ url_for('beta_distribution') }}">
		Beta Distribution
</a>
{% endblock %}


