<!-- 確率分布詳細のテンプレート -->
{% extends "layout.html" %}

<!-- head -->
{% block head %}
{{ super() }}
<style>
 .tick line {
		 stroke: #ddd;
     stroke-width: 0.5;
 }

 .slider {
		 margin-top: 10px;
 }

 .axis-label {
		 fill: #000;
		 font-size : 1rem;
 }

 .prob-line {
		 stroke-opacity: 0.6;
		 stroke-linejoin: round;
		 stroke-linecap: round;
		 stroke-width: 2;
		 fill: none;
 }

 .pdf-line {
		 stroke: rgb(44, 168, 255);
 }

 .cdf-line {
		 stroke: rgb(24, 206, 15)
 }

 .pdf-area {
		 fill: rgb(44, 168, 255);
		 fill-opacity: 0.2;
		 stroke: none;
 }

 .mean-line {
		 stroke: rgb(255, 54, 54);
 }
</style>
{% endblock %}

<!-- content -->
{% block content %}

<br>
<!-- 分布の名前 -->
<h3 class="category">{% block name %}{% endblock %}</h3>

<!-- 分布の数学的詳細 -->
<div class="card">
		<div class="card-body">
				<div>
						<h5 class="title">確率密度関数</h5>
						{% block equation %}{% endblock %}

						<h5 class="title">平均・分散</h5>
						{% block statistic %}{% endblock %}

				</div>
		</div>
</div>

<!-- グラフ -->
<div class="card">
		<div class="card-body">
				<div class="row">
						<div class="col-md-9">
								<svg id="chart"></svg>
						</div>
						<div class="col-md-3" id="parameter-container">
						</div>
				</div>
		</div>
</div>


<!-- Javascript -->
<script src="{{ url_for('static', filename='js/continuous.js') }}"></script>
<script src="{{ url_for('static', filename='js/sliderUtil.js') }}"></script>

<script>
 var getData = function(func_name, params, callback) {
		 // APIに対して分布の種類とパラメータを指定し、x, yの値をJSONで得る
		 $.ajax({
				 type: "GET",
				 url: "{{ url_for('index') }}" + "api/calculate/" + func_name,
				 data: params
		 }).done(function(data) {
				 // コールバック関数に得られたデータを渡して実行
				 callback(data);
		 });
 }
</script>
{% block scripts %}{% endblock %}

{% endblock %}
