{% extends "distribution.html" %}
{% block title %}Exponential Distribution{% endblock %}


{% block name %}
指数分布
{% endblock %}


{% block equation %}

定数 $\lambda>0$ に対し、
$$
\begin{eqnarray}
f(x) =\left\{ \begin{array}{ll}
\lambda e^{-\lambda x} & (x \geq 0) \\
0 & (x < 0) \\
\end{array} \right.
\end{eqnarray}
$$

{% endblock %}


{% block statistic %}
この分布に従う確率変数 $X$ の平均・分散は、
$$
E[X] = \frac{1}{\lambda}, \: V[X] = \frac{1}{\lambda ^2}
$$

{% endblock %}

{% block scripts %}
<script>

 // グラフの各要素を保持するオブジェクト
 var exponGraph = createContinuous();

 // パラメータ初期値
 var initLambda = 1.0;

 // APIからJSONを取得して描画する
 getData("expon", {"scale": 1.0/initLambda, "x_min": 0, "x_max": 5},
				 updateGraph(exponGraph));

 // ----- slider -----
 var exponSliderInfo = [
		 {"name": "lambda", "valueId": "lambda-value",
			"text": "$\\lambda= $", "id": "slider-lambda",
			"start": initLambda, "step": 0.2, "min": 0.5, "max": 5},
 ];

 var onExponSlide = function(valueDict) {
		 getData("expon", {"scale": 1.0/valueDict.lambda,
											 "x_min": 0, "x_max": 5},
						 updateGraph(exponGraph));
 }

 createSliders(exponSliderInfo, onExponSlide);

</script>
{% endblock %}
