{% extends "distribution.html" %}
{% block title %}Exponential Distribution{% endblock %}


{% block name %}
指数分布
{% endblock %}


{% block about %}

或る離散的な事象に対して、ポアソン分布が単位時間当たりの生起確率を示し、指数分布は生起期間の確率を示す
<br>
<small>
		<a href="https://ja.wikipedia.org/wiki/%E6%8C%87%E6%95%B0%E5%88%86%E5%B8%83">
				指数分布 - Wikipedia
		</a>
</small>
<br><br>

{% endblock %}


{% block equation %}

定数 $\lambda>0$ に対し、
$$
\begin{eqnarray}
f(x) =\left\{ \begin{array}{ll}
\lambda e^{-\lambda x} & (x \geq 0) \\
0 & (x < 0) \\
\end{array} \right.
\end{eqnarray}
$$

{% endblock %}


{% block statistic %}
この分布に従う確率変数 $X$ の平均・分散は、
$$
E[X] = \frac{1}{\lambda}, \: V[X] = \frac{1}{\lambda ^2}
$$

{% endblock %}


{% block relationship %}
<ul>
		<li>
				<a href="{{ url_for('gamma_distribution') }}">ガンマ分布</a>の $\alpha=1$ の場合が指数分布
		</li>
</ul>
{% endblock %}


{% block scripts %}
<script>

 // グラフの各要素を保持するオブジェクト
 var exponGraph = createContinuous();

 // パラメータ初期値
 var initLambda = 1.0;

 // APIからJSONを取得して描画する
 getData("expon", {"scale": 1.0/initLambda, "x_min": 0, "x_max": 5},
				 updateGraph(exponGraph));

 // ----- slider -----
 var exponSliderInfo = [
		 {"name": "lambda", "valueId": "lambda-value",
			"text": "$\\lambda= $", "id": "slider-lambda",
			"start": initLambda, "step": 0.2, "min": 0.5, "max": 5},
 ];

 var onExponSlide = function(valueDict) {
		 getData("expon", {"scale": 1.0/valueDict.lambda,
											 "x_min": 0, "x_max": 5},
						 updateGraph(exponGraph));
 }

 createSliders(exponSliderInfo, onExponSlide);

</script>
{% endblock %}
