{% extends "distribution.html" %}
{% block title %}Gamma Distribution{% endblock %}


{% block name %}
ガンマ分布
{% endblock %}


{% block equation %}

定数 $\lambda > 0, \alpha > 0$ に対し、
$$
\begin{eqnarray}
f(x) =\left\{
\begin{array}{ll}
\frac{\lambda^\alpha}{\Gamma(\alpha)} x^{\alpha-1} e^{-\lambda x} & (x\geq0) \\
0 & (x < 0) \\
\end{array} \right.
\end{eqnarray}
$$

ここで、 $\Gamma(\alpha)$ はガンマ関数（階乗の一般化）で、
$$
\Gamma(\alpha) = \int_0^\infty  x^{\alpha-1} e^{-x} dx
$$

である。ガンマ分布はガンマ関数で規格化されている感じ。

$\alpha$ が自然数なら $\Gamma(\alpha) = (\alpha-1)!$
{% endblock %}


{% block statistic %}

この分布 $Ga(\alpha, \lambda)$ に従う確率変数$X$の平均・分散は、
$$
E[X] = \frac{\alpha}{\lambda}, \: V[X] = \frac{\alpha}{\lambda ^2}
$$

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/continuous.js') }}"></script>
<script src="{{ url_for('static', filename='js/sliderUtil.js') }}"></script>
<script>

 // グラフの各要素を保持するオブジェクト
 var gammaGraph = createContinuous();

 // パラメータ初期値
 var initLambda = 2.5;
 var initAlpha = 5.0;

 // APIからJSONを取得して描画する
 getData("gamma", {"a": initAlpha, "scale": 1.0/initLambda, "x_min": 0, "x_max": 10},
				 updateGraph(gammaGraph));

 // ----- slider -----
 var gammaSliderInfo = [
		 {"name": "lambda", "valueId": "lambda-value",
			"text": "$\\lambda= $", "id": "slider-lambda",
			"start": initLambda, "step": 0.5, "min": 0.5, "max": 5},
		 {"name": "alpha", "valueId": "alpha-value",
			"text": "$\\alpha= $", "id": "slider-alpha",
			"start": initAlpha, "step": 0.5, "min": 1, "max": 10}
 ];

 var onGammaSlide = function(valueDict) {
		 getData("gamma", {"a": valueDict.alpha,
											 "scale": 1.0/valueDict.lambda,
											 "x_min": 0, "x_max": 10},
						 updateGraph(gammaGraph));
 }

 createSliders(gammaSliderInfo, onGammaSlide);

</script>
{% endblock %}
