{% extends "distribution.html" %}
{% block title %}Normal Distribution{% endblock %}


{% block name %}
正規分布
{% endblock %}


{% block equation %}

平均$\mu$, 分散$\sigma$に対し、
$$
f(x) = \frac{1}{\sqrt{2 \pi \sigma ^2}} exp \left( - \frac{(x-\mu)^2}{2\sigma ^2} \right) \:\: (x \in \mathbb{R})
$$

{% endblock %}


{% block statistic %}

この分布に従う確率変数$X$の平均・分散は、
$$
E[X] = \mu,\: V[X] = \sigma^2
$$

{% endblock %}

{% block scripts %}
<script>

 // グラフの各要素を保持するオブジェクト
 var normalGraph = createContinuous();

 // パラメータ初期値
 var initMean = 0.0;
 var initStd = 1.0;

 // APIからJSONを取得して描画する
 getData("norm", {"loc": initMean, "scale": initStd, "x_min": -5, "x_max": 5},
				 updateGraph(normalGraph));

 // ----- slider -----
 var normalSliderInfo = [
		 {"name": "mean", "valueId": "mean-value",
			"text": "$\\mu= $", "id": "slider-mean",
			"start": initMean, "step": 0.5, "min": -5, "max": 5},
		 {"name": "std", "valueId": "std-value",
			"text": "$\\sigma= $", "id": "slider-std",
			"start": initStd, "step": 0.1, "min": 0.1, "max": 3}
 ];

 var onNormalSlide = function(valueDict) {
		 getData("norm", {"loc": valueDict.mean,
											"scale": valueDict.std,
											"x_min": -5, "x_max": 5},
						 updateGraph(normalGraph));
 }

 createSliders(normalSliderInfo, onNormalSlide);

</script>
{% endblock %}
