{% extends "distribution.html" %}
{% block title %}Normal Distribution{% endblock %}


{% block name %}
正規分布
{% endblock %}


{% block equation %}

平均$\mu$, 分散$\sigma$に対し、
$$
f(x) = \frac{1}{\sqrt{2 \pi \sigma ^2}} exp \left( - \frac{(x-\mu)^2}{2\sigma ^2} \right) \:\: (x \in \mathbb{R})
$$

{% endblock %}


{% block statistic %}

この分布に従う確率変数$X$の平均・分散は、
$$
E[X] = \mu,\: V[X] = \sigma^2
$$

{% endblock %}


{% block parameter %}
<div>
		平均 $\mu = $<span id="mean-value">0.00</span>
		<div id="sliderMean" class="slider slider-primary"></div>
</div>
<br>
<div>
		標準偏差 $\sigma = $<span id="var-value">1.00</span>
		<div id="sliderVar" class="slider slider-primary"></div>
</div>
{% endblock %}


{% block scripts %}
<script>
 // APIからJSONを取得して描画する
 var normalGraph = createContinuous();
 getData("norm", {"loc": 0.0, "scale": 1.0, "x_min": -5, "x_max": 5},
				 updateGraph(normalGraph));

 // ----- slider -----
 var sliderMean = document.getElementById("sliderMean");
 noUiSlider.create(sliderMean, {
     start: 0,
     step: 0.5,
     connect: "lower",
     range: {
				 min: -5,
				 max: 5
     }
 });
 sliderMean.noUiSlider.on("slide", function() {
     var meanValue = sliderMean.noUiSlider.get();
     var varValue = sliderVar.noUiSlider.get();
     getData("norm", { "loc": meanValue, "scale": varValue,  "x_min": -5, "x_max": 5},
						 updateGraph(normalGraph));
     d3.select("#mean-value").text(meanValue);
 });

 var sliderVar = document.getElementById("sliderVar");
 noUiSlider.create(sliderVar, {
     start: 1,
     step: 0.1,
     connect: "lower",
     range: {
				 min: 0.1,
				 max: 3
     }
 });
 sliderVar.noUiSlider.on("slide", function() {
     var meanValue = sliderMean.noUiSlider.get();
     var varValue = sliderVar.noUiSlider.get();
     getData("norm", { "loc": meanValue, "scale": varValue,  "x_min": -5, "x_max": 5},
						 updateGraph(normalGraph));
     d3.select("#var-value").text(varValue);
 });

</script>
{% endblock %}
